* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

.form-container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  margin-left: 30px;

 
}

label {
  display: inline;
  margin-bottom: 5px;
  font-weight: bold;
}

.Gendertitle{
  display: block;
  margin-bottom: 10px;

}

.Hobbytitle{
  display: block;
  margin-bottom: 10px;
}


input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn {
  background-color: #28a745;
  color: #fff;
}

.reset-btn {
  background-color: #dc3545;
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
}

.form-group:last-child {
  text-align: center;
}